html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/*
=============== 
Global Styles
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;1,500&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  font-family: 'Archivo', sans-serif;
}



@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: #0d72be;
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: .1rem;
  display: block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #0d72be;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: .20rem;
}
.btn:hover {
  color: #0d72be;
  background: #063251;
  border-color: #063251;
}






/* container */
.block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


.main-heading {
  font-size: 5rem;
  font-family: 'Archivo', sans-serif;
  font-style: italic;
  letter-spacing: 3px;
  color: whitesmoke;
}

.container {
  width: 90vw;
  max-width: 760px;
  background: transparent;
  border-radius: .20rem;
  position: relative;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
  
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #f2f9ff8e;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
} 
.container img {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  background: rgb(211, 239, 248);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.user-title {
  font-size: 22px;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  font-style: italic;
  letter-spacing: 2px;
}
.user-value {
  color: #102a42;
  font-size: 28px;
  margin: 20px 0;
  letter-spacing: 2px;
}
.values-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  
  
}

.icon {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: #2a3199a8;
  transition: all 0.3s linear;
  
}
.icon:hover {
  color: #0780dd;
 
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.btn {
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* media queries */
@media screen and (max-width: 992px) {
  .main-heading {
    margin-bottom: 0;
    margin-top: 90px;
  }
  .section-center {
    width: 95vw;
  }
}

@media screen and (max-width: 800px) {
  .main-heading {
    margin-bottom: 0;
    margin-top: 90px;
  }
  .user-value {
    font-size: 28px;
  }
  .icon {
    font-size: 2rem;
  }
  .main-heading {
    font-size: 3rem;
  }
  .icon:hover {
    animation: none;
    transform: none;
  }
}
@media screen and (max-width: 635px) {
  .main-heading {
    margin-bottom: 0;
    margin-top: 90px;
  }
  .user-value {
    font-size: 20px;
  }
  .icon:hover {
    animation: none;
    transform: none;
  }
}
@media screen and (max-width: 380px) {
  .main-heading {
    margin-bottom: 0;
    margin-top: 90px;
  }
  .user-value {
    font-size: 17px;
  }
  .icon {
    font-size: 1.5rem;
    justify-content: space-between;
  }
  .container img {
    width: 120px;
    height: 120px;
  }
  .btn {
    font-size: 12px;
  }
  .icon:hover {
    animation: none;
    transform: none;
  }
}
